*.env
.cre_build_tmp.js
secrets.yaml

# Ignore CLI config files containing API keys
cre-kyute/kyute-agent/config.staging.json
cre-kyute/kyute-agent/config.production.json
kyute-agent/config.staging.json
kyute-agent/config.production.json
