[profile.default]
src = "src"
out = "out"
libs = ["lib"]
solc = "0.8.24"
optimizer = true
optimizer_runs = 200
remappings = [
	"@openzeppelin/contracts/=lib/openzeppelin-contracts/contracts/",
	"@openzeppelin/contracts@5.0.2/=lib/openzeppelin-contracts/contracts/",
	"@chainlink/contracts-ccip/contracts/=lib/chainlink-ccip/chains/evm/contracts/",
	"@chainlink/contracts/=lib/chainlink-evm/contracts/"
]

[rpc_endpoints]
arbitrum_sepolia = "https://arb-sepolia.g.alchemy.com/v2/sjZRV1Sq5ZcLNEI1ZcfEYXz8ob0sBlTx"
arbitrum_one = "https://arb1.arbitrum.io/rpc"
